.add-link-modal {
    .notification {
        padding: 1.25rem;
    }

    .modal-content {
        border-radius: 4px;
        width: 500px;
    }

    .modal-heading {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        position: relative;

        .modal-title {
            color: $white;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: left;

            .icon {
                margin-right: 8px;
            }
        }

        .close {
            cursor: pointer;
            position: absolute;
            right: 0;
        }
    }

    input,
    textarea {
        background-color: $dark;
        border-color: $grey;
        border-radius: 4px;
        color: #bdcbdb;

        &::placeholder {
            color: #bdcbdb;
        }
    }

    input {
        &.has-error {
            border: 1px solid $red;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        .button {
            border-radius: 4px;

            &.add {
                margin-left: 10px;
            }
        }
    }
}
