#app {
	.signed-in {
		display: flex;
		height: 100%;
	}

	.page {
		flex-grow: 1;
		flex-shrink: 1;

		.page-content {
			margin-left: 200px;
			padding: 20px;

			&.page-not-found {
				margin-left: 0;
			}
		}
	}
}
