.build,
.builds {
	input {
		background-color: $grey-darker;
		border-color: $grey;
		border-radius: 4px;
		color: $grey-lighter;
		margin-bottom: 15px;

		&::placeholder {
			color: $grey-lighter;
		}
	}

	.box {
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: lighten($grey-dark, 2%);
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.2s ease-in-out;
		}
	}

	.build {
		margin-bottom: 15px;

		.box {
			display: flex;
			align-items: center;

			.build-details {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				font-weight: bold;
				height: 100%;
				justify-content: space-between;
				padding: 10px 20px;
			}

			.build-progress {
				background-color: lighten($grey-darker, 3%);
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				padding: 15px;
			}

			.status {
				color: $grey-light;
			}

			&.is-selected {
				background-color: lighten($grey-dark, 8%);
				border-bottom-left-radius: 4px;
				border-color: #209cee;
				border-style: solid;
				border-top-left-radius: 4px;
				border-width: 0 0 0 4px;
				box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
				position: relative;
				z-index: 10;

				.build-progress {
					background-color: lighten($grey-darker, 5%);
				}

				.status {
					color: $grey-lighter;
				}
			}
		}
	}

	.build-page,
	.selected-build {
		.tabs {
			margin: 20px 0 25px;

			li {
				a {
					color: $grey-lighter;
				}

				&.is-active {
					a {
						color: #209cee;
					}
				}

				&:first-of-type {
					a {
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
					}
				}

				&:last-of-type {
					a {
						border-top-right-radius: 4px;
						border-bottom-right-radius: 4px;
					}
				}
			}
		}

		.build-header,
		.selected-build-header {
			display: flex;
			align-items: center;
			margin-bottom: 6px;

			.build-name {
				margin: 0 10px 0 0;
			}
		}

		.box-header {
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			i {
				margin-right: 15px;
			}

			.heading {
				margin: 0;
				flex-grow: 1;
			}

			.fraction {
				color: $grey-light;
			}
		}

		.sign-off {
			.box-header {
				margin-bottom: 0;
			}

			.sign-off-details {
				display: flex;
				flex-direction: column;
			}
		}

		.progress-devices,
		.progress-overall,
		.progress-racks,
		.progress-time {
			display: flex;
			align-items: center;

			progress {
				margin: 0;
				height: 0.5rem;
			}

			.amount {
				flex-grow: 1;
				line-height: 25px;
				margin-left: 20px;
				white-space: nowrap;
			}
		}

		.add,
		.all {
			border: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			transition: background-color 0.1s ease-in-out;

			&:hover {
				transition: background-color 0.1s ease-in-out;
			}
		}

		.all {
			background-color: #0476D0;

			&:hover {
				background-color: darken(#0476D0, 2%);
			}
		}

		.add {
			background-color: $green;

			&:hover {
				background-color: darken($green, 3%);
			}
		}

		.button-group {
			.button {
				&:first-of-type {
					border-bottom-left-radius: 4px;
				}

				&:last-of-type {
					border-bottom-right-radius: 4px;
				}
			}
		}

		.box {
			padding: 0;
		}

		.build-devices {
			padding: 20px;
		}

		.users-table {
			table {
				border-radius: 4px;
			}

			tr {
				td {
					border: none;
				}
			}

			.users-table-header {
				border-bottom: 1px solid $grey;
				font-weight: bold;

				td {
					border-top-left-radius: 5px;
				}

				&:hover {
					background-color: $grey-dark;
				}
			}

			.users-table-footer {
				td {
					padding: 0;
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
	}

	.devices-tab,
	.members-tab {
		.box {
			padding: 20px;
		}
	}

	.devices-table,
	.members-table {
		transition: box-shadow 0.2s ease-in-out;

		&:hover {
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: box-shadow 0.2s ease-in-out;
		}

		td,
		th {
			padding: 15px 20px;
		}

		.datatable-header {
			align-items: center;
			background-color: $grey-dark;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			display: flex;
			font-weight: bold;
			padding: 20px;

			.control {
				margin: 0 20px;
				flex-grow: 1;

				input {
					margin-bottom: 0;
				}
			}

			i.material-icons {
				cursor: pointer;
				font-size: 36px;
				margin-left: 20px;
			}
		}

		.remove-item i {
			cursor: pointer;

			&:hover {
				color: $red;
			}
		}
	}

	select {
		background-color: $grey-darker;
		border-color: $grey;
		border-radius: 4px;
		color: $grey-lighter;
	}

}

.builds {
	.page-heading {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		h1 {
			margin: 0;
			word-break: normal;
		}

		input {
			background-color: $dark;
			border-color: $grey;
			border-radius: 4px;
			color: #bdcbdb;
			min-width: 350px;
			margin-bottom: 0;

			&::placeholder {
				color: #bdcbdb;
			}
		}

		.control {
			margin: 0 20px;
		}

		.views {
			display: flex;
			align-items: center;
			flex-grow: 1;

			i {
				cursor: pointer;
				font-size: 36px;

				&:not(:last-of-type) {
					margin-right: 10px;
				}
			}
		}

		.add-build {
			color: $green;
			cursor: pointer;
			font-size: 42px;

			&:hover {
				color: darken($green, 8%);
			}
		}
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;

		@media (min-width: 1500px) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}

		.card {
			background-color: $grey-dark;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.1s ease-in-out;

			.card-content {
				display: flex;
				flex-direction: column;
				padding: 20px;

				.more {
					cursor: pointer;
					text-align: right;
				}

				.build-progress {
					margin: 0 auto 15px;
				}

				.build-name {
					text-align: center;
					font-weight: bold;
					color: $white;
					font-size: 20px;
					margin-bottom: 10px;
				}
			}

			.button {
				margin-top: 15px;
				border: none;
			}

			&:hover {
				transform: scale(1.04);
				transition: all 0.1s ease-in-out;

				.button {
					background-color: #4A5DBD;
				}
			}
		}
	}
}
