.build {
    .message {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-bottom: 0;
    }

    .message,
    .message-header {
        border-radius: 3px;
        width: 300px;
        z-index: 1000;
    }

    .message-header {
        display: flex;
        align-items: center;

        i {
            position: absolute;
        }

        p {
            margin: 0 auto;
        }
    }

    .tabs {
        margin: 20px 0 25px;

        li {
            a {
                color: $grey-lighter;
            }

            &.is-active {
                a {
                    color: #209cee;
                }
            }

            &:first-of-type {
                a {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }

            &:last-of-type {
                a {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }

    .build-header {
        display: flex;
        align-items: center;
        height: 42px;

        .build-name {
            flex-grow: 1;
            margin: 0 10px 0 0;
        }

        .button {
            height: 42px;
            font-weight: bold;
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    .box-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        justify-content: flex-start;

        i {
            margin-right: 15px;
        }

        .heading {
            margin: 0;
            flex-grow: 1;
            font-weight: bold;
        }

        .fraction {
            color: $grey-light;
        }

        .button.view-all {
            background-color: #1f2d3b;
            border: none;

            i.material-icons {
                font-size: 24px;
                margin: 0 0 0 6px;
            }

            &:hover {
                background-color: lighten(#1f2d3b, 2%);
            }
        }
    }

    .overview-tab {
        .total-build-progress {
            .box-header {
                .material-icons {
                    font-size: 36px;
                }
            }

            .progress-overall {
                display: flex;
                align-items: center;

                progress {
                    margin: 0;
                    height: 0.5rem;
                }

                .amount {
                    flex-grow: 1;
                    line-height: 25px;
                    margin-left: 20px;
                    white-space: nowrap;
                }
            }
        }

        .build-dates {
            .box-header {
                margin-bottom: 0;
                width: 100%;

                .dates {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-around;
                    text-align: center;
                }
            }
        }

        .build-dates,
        .sign-off {
            display: flex;

            .box-header {
                margin-bottom: 0;

                .material-icons {
                    font-size: 42px;
                }
            }
        }

        .sign-off {
            .sign-off-details {
                display: flex;
                flex-direction: column;
            }
        }

        .build-devices,
            .rack-devices {
                padding: 20px;

            .box-header {
                .material-icons {
                    font-size: 36px;
                }
            }

            p.subtitle {
                margin-bottom: 10px;
            }
        }

        .box {
            &.filter {
                background-color: #1f2d3b;
                padding: 14px;

                &:hover {
                    background-color: lighten(#1f2d3b, 1%);
                }
            }
        }
    }

    .devices-tab,
    .members-tab,
    .organizations-tab,
    .racks-tab,
    .links-tab {
        input {
            background-color: $grey-darker;
            border-color: $grey;
            border-radius: 4px;
            color: $grey-lighter;

            &::placeholder {
                color: $grey-light;
            }
        }

        select {
            background-color: $grey-darker;
            border-color: $grey;
            color: $grey-lighter;
        }

        td,
        th {
            padding: 15px 20px;
        }

        .datatable-header {
            align-items: center;
            background-color: $grey-dark;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            display: flex;
            font-weight: bold;
            padding: 20px;

            .control {
                flex-grow: 1;
                margin-left: 20px;

                input {
                    margin-bottom: 0;
                }
            }

            i.material-icons {
                cursor: pointer;
                font-size: 36px;
                margin-left: 20px;

                &.search {
                    font-size: 22px;
                    margin-left: 5px;
                }
            }
        }

        .no-results {
            margin: 40px auto;
        }

        .no-items {
            display: flex;
            flex-direction: column;
            justify-content: center;

            a.button {
                font-weight: bold;
                height: 42px;
                padding-left: 20px;
                padding-right: 20px;
                margin: 0 auto;
                max-width: 200px;
                min-width: 150px;
            }
        }
    }

    .devices-tab {
        .row {
            &:hover {
                color: $white;
            }
        }
    }

    .select-with-label {
        margin-left: 20px;
    }

    .links-tab {
        .card {
            &:hover {
                border-color: $grey-light;
            }
        }

        .confirmation-modal {
            .notification {
                padding: 1.25rem;
            }

            .modal-content {
                border-radius: 4px;
                text-align: center;
                width: 500px;
            }

            .modal-body p {
                margin: 25px 0;
            }

            .modal-heading {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                position: relative;

                .modal-title {
                    color: $white;
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: left;

                    .icon {
                        margin-right: 8px;
                    }
                }

                .close {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                }
            }

            input,
            textarea {
                background-color: $dark;
                border-color: $grey;
                border-radius: 4px;
                color: #bdcbdb;

                &::placeholder {
                    color: #bdcbdb;
                }
            }

            input {
                &.has-error {
                    border: 1px solid $red;
                }
            }

            .modal-footer {
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;

                .button {
                    border-radius: 4px;

                    &.add {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.dropdown {
    .dropdown-content {
        background-color: lighten($grey-dark, 8%);
        border-radius: 5px;
    }

    .dropdown-item {
        padding: 6px 16px;

        &:hover {
            color: $white;
        }
    }
}
