.builds-list {
	.page-heading {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		h1 {
			margin: 0;
			word-break: normal;
		}

		input {
			background-color: $dark;
			border-color: $grey;
			border-radius: 4px;
			color: #bdcbdb;
			height: 42px;
			margin-bottom: 0;
			min-width: 350px;

			&::placeholder {
				color: #bdcbdb;
			}
		}

		.control {
			margin: 0 20px;

			.icon {
				left: 2px;
				top: 3px;
			}
		}

		.views-toggle {
			display: flex;
			align-items: center;

			i {
				cursor: pointer;
				font-size: 36px;

				&:not(:last-of-type) {
					margin-right: 10px;
				}
			}

			.button {
				border: 1px solid $grey;
				color: $grey-lighter;
				display: flex;
				height: 42px;
				text-decoration: none;
				width: 150px;

				span {
					flex-grow: 1;
				}

				&:hover {
					background-color: $blue;
					border-color: $blue;
					color: $white;
				}
			}
		}

		.add-build {
			color: $green;
			cursor: pointer;
			font-size: 42px;
			margin: 0 20px;

			&:hover {
				color: darken($green, 8%);
			}
		}
	}

	.grid-view {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;

		@media (min-width: 1500px) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}

		.card {
			background-color: $grey-dark;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.1s ease-in-out;

			.card-content {
				display: flex;
				flex-direction: column;
				padding: 20px;

				.more {
					cursor: pointer;
					text-align: right;
				}

				.build-progress {
					margin: 0 auto 15px;
				}

				.build-name {
					text-align: center;
					font-weight: bold;
					color: $white;
					font-size: 20px;
					margin-bottom: 10px;
				}
			}

			.button {
				margin-top: 15px;
				border: none;
			}

			&:hover {
				transform: scale(1.04);
				transition: all 0.1s ease-in-out;

				.button {
					background-color: #4A5DBD;
				}
			}
		}
	}

	.list-view {
		.build-box {
			margin-bottom: 15px;

			.box {
				align-items: center;
				display: flex;
				transition: all 0.2s ease-in-out;

				&:hover {
					background-color: lighten($grey-dark, 2%);
					box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
					transition: all 0.2s ease-in-out;
				}

				.build-details {
					display: flex;
					flex-direction: column;
					flex-grow: 1;
					font-weight: bold;
					height: 100%;
					justify-content: space-between;
					padding: 10px 20px;
				}

				.build-progress {
					background-color: lighten($grey-darker, 3%);
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					padding: 15px;
				}

				.status {
					color: $grey-light;
				}

				&.is-selected {
					background-color: lighten($grey-dark, 8%);
					border-bottom-left-radius: 4px;
					border-color: #209cee;
					border-style: solid;
					border-top-left-radius: 4px;
					border-width: 0 0 0 8px;
					box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
					position: relative;
					z-index: 10;

					.build-progress {
						background-color: lighten($grey-darker, 5%);
					}

					.status {
						color: $grey-lighter;
					}
				}
			}
		}
	}
}
