.user-modal {
    .modal-card {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 500px;
    }

    .modal-card-head {
        display: flex;
        background-color: $green;
        align-items: center;
        border-bottom: none;
        padding: 12px;

        .modal-card-title {
            color: white;
            font-weight: bold;
        }

        &.is-success {
            background-color: $green;
        }
    }

    .modal-card-body {
        input.input {
            background-color: $dark;
            border-color: $grey;
            border-radius: 3px;
            color: #bdcbdb;
            height: 42px;
            padding-bottom: 6px;

            &::placeholder {
                color: $grey-light;
            }


            &:focus {
                border: 1px solid $blue;
                box-shadow: none;
            }

            &.is-danger {
                border: 1px solid $red;
                box-shadow: none;
            }

            &.search {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    i.material-icons {
        &.close {
            cursor: pointer;
            color: $white;
            font-size: 24px;
        }

        &.search {
            height: 100%;
        }
    }

    .buttons-group {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        justify-content: space-between;

        &.single-button {
            justify-content: flex-end;
        }
    }

    a.button {
        font-weight: bold;
        height: 42px;
        padding-left: 20px;
        padding-right: 20px;

        i {
            margin-left: 5px;
        }

        &.close {
            min-width: 106px;
        }
    }

    hr {
        height: 1px;
        margin: 0;

        &.edit-user {
            margin-top: 20px;
        }
    }

    .field {
        &.password-confirmation {
            margin-bottom: 20px;
        }

        &.has-switch {
            display: flex;
            align-items: center;
            margin: 12px 0;

            label.label {
                flex-grow: 1;
            }

            .slider-text {
                margin-left: 15px;
                width: 26px;
            }
        }
    }

    .build {
        display: flex;
        align-items: center;
        height: 66px;
        padding: 10px;
        background-color: $dark;

        &:hover {
            background-color: darken($dark, 3%);
        }
    }

    .notification {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 2px;

        i {
            margin-right: 10px;
        }
    }

    .options {
        p {
            color: $white;
            font-size: 17px;
            font-weight: bold;
        }

        hr {
            &:first-of-type {
                margin-top: 15px;
            }
        }
    }
}
