.create-build {
	.steps {
		display: flex;
		align-items: center;
		justify-content: center;

		i.material-icons {
			font-size: 20px;
		}

		.step {
			.step-title {
				color: $grey-light;
				margin-top: 10px;
			}

			.dot {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				border: 3px solid $grey;
				background-color: $grey-darker;
				border-radius: 50%;
				margin: 0 auto;
			}

			&.is-current {
				.dot {
					background-color: #209cee;
					border: none;
				}

				.step-title {
					color: $white;
					font-weight: bold;
				}
			}

			&.is-complete {
				.dot {
					background-color: $green;
					border: none;
				}
			}
		}

		hr {
			background-color: transparent;
			border-top: dashed 2px $grey;
			margin-top: 0;
			margin-bottom: 32px;
			width: 140px;
			z-index: -10;

			&.is-current {
				height: 2px;
				background-color: #209cee;
				border: none;
			}

			&.is-complete {
				height: 2px;
				background-color: $green;
				border: none;
			}

			&:first-of-type {
				margin-right: -36px;
				margin-left: -31px;
			}

			&:nth-of-type(2) {
				margin-right: -22px;
				margin-left: -34px;
			}

			&:nth-of-type(3) {
				margin-right: -28px;
				margin-left: -22px;
			}

			&:last-of-type {
				margin-right: -30px;
				margin-left: -29px;
			}
		}
	}

	.step-description p {
		padding: 0 25px;
		margin: 25px auto 30px;
		text-align: center;
	}

	.box {
		margin: 0 auto;
		width: 500px;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: lighten($grey-dark, 2%);
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.2s ease-in-out;
		}
	}

	.button-group {
		display: flex;
		margin: 50px auto;
		justify-content: center;

		.button {
			display: flex;
			height: 46px;
			font-weight: bold;
			justify-content: center;
			width: 200px;

			&:first-of-type {
				margin-right: 50px;

				i {
					margin-right: 10px;
				}
			}

			&:last-of-type {
				i {
					margin-left: 10px;
				}
			}
		}
	}

	.step-1-content {
		label {
			margin-bottom: 6px;
		}
	}

	input,
	textarea {
		background-color: $grey-darker;
		border-color: $grey;
		border-radius: 4px;
		color: $grey-lighter;

		&::placeholder {
			color: $grey-light;
		}

		&:focus {
			border: 1px solid #209cee;
			box-shadow: none;
		}
	}

	.build-dates {
		display: flex;
		justify-content: space-between;

		.start-date {
			margin-right: 20px;
		}

		.end-date,
		.start-date {
			display: flex;
			flex-direction: column;

			input {
				font-size: 1rem;
				height: 2.25em;
				min-width: 180px;
			}
		}
	}

	.devices-table-2,
	.racks-table,
	.members-table {
		width: 494px;
		margin: 0 auto;

        table {
            background-color: $grey-darker;
            border-top-left-radius: 4px;
			border-top-right-radius: 4px;
        }

        .search {
            td {
                padding: 0;
            }

            input {
                background-color: darken($grey-darker, 3%);
                border: none;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                box-shadow: none;
                color: #bdcbdb;
                height: 48px;
                font-size: 1rem;

                &::placeholder {
                    color: $grey-light;
                }

                &:active,
                &:focus {
                    box-shadow: none;
                }
            }

            span.icon {
                top: 6px;

                i.material-icons {
                    font-size: 24px;
                }
            }
        }

		.row {
			width: 494px;

			&.item {
				align-items: stretch;
				display: flex;


				td {
					background-color: $grey-dark;
					border: none;
					display: flex;
					min-height: 66px;
					align-items: center;

					select {
						background-color: $grey-darker;
						border-color: $grey;
						border-radius: 4px;
						color: #bdcbdb;
					}

					&.item-name {
						flex-grow: 1;
						overflow: hidden;

						span {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}

					&.action {
						justify-content: center;
						width: 52px;

						i.material-icons {
							cursor: pointer;
						}
					}

					&.no-results {
						background-color: darken($grey-darker, 3%);
						justify-content: center;
						width: 100%;
					}
				}

				&.is-selected {
					border-width: 0 0 0 6px;
					border-color: $green;
					border-style: solid;

					td {
						background-color: darken($grey-darker, 1%);
					}
				}

				&:hover {
					td {
						background-color: darken($grey-darker, 3%);
					}
				}
			}
		}
	}
}
