.create-build-modal {
    .modal-content {
        border-radius: 4px;
        min-height: 500px;
        min-width: 800px;
    }

    .columns {
        height: 100%;
        margin: 0;
    }

    .modal-heading {
        display: flex;
        align-items: center;

        .modal-title {
            flex-grow: 1;
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            text-align: left;
        }
    }

    .modal-body {
        min-height: 327px;
        overflow: scroll;
    }

    .step-details {
        background-color: $grey-dark;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .step-content {
            flex-grow: 1;

            p {
                font-size: 14px;
            }

            .title {
                word-break: normal;
                font-weight: bold;
                font-size: 24px;
            }

            hr {
                background-color: $white;
                height: 1px;
                margin: 16px 0 12px;
            }

            .step-title {
                word-break: normal;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
            }
        }

        .steps {
            .step-text {
                margin-bottom: 12px;
                text-align: center;
            }

            .dots {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .dot {
                background-color: #ffffff;
                border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                height: 8px;
                margin: 0 7px;
                width: 8px;

                &.is-active {
                    background-color: #209cee;
                }
            }
        }
    }

    .build-details {
        // Check this with .step-body min-height
        max-height: 500px;
        padding: 20px;
        overflow: hidden;
    }

    .modal-body {
        margin: 25px 0;
        height: 261px;
    }

    .notification {
        background-color: lighten($grey-darker, 2%);
        height: 100%;
        padding: 0;
    }

    i.org {
        font-size: 28px;
        margin-right: 10px;
    }

    i.close {
        cursor: pointer;
        font-size: 28px;
        margin-left: 10px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        .button {
            border-radius: 3px;
            font-weight: bold;
            height: 36px;
            width: 100px;
        }

        &.first-step {
            justify-content: flex-end;
        }
    }

    a.button.create-build {
        height: 42px;
    }

    input.name,
    textarea {
        background-color: $grey-darker;
        border-color: $grey;
        border-radius: 4px;
        color: #bdcbdb;

        &::placeholder {
            color: $grey-light;
        }
    }

    .step-body {
        min-height: 250px;
        max-height: 250px;

        .table-title td {
            border: none;
            padding: 6px;
        }

        .user {
            display: flex;
            align-items: stretch;

            td {
                display: flex;
                align-items: center;
                flex-grow: 1;
                background-color: $grey-darker;
                border: none;

                .username {
                    flex-grow: 1;
                }

                &:hover {
                    background-color: $dark;
                }
            }

            .add-user,
            .remove-user {
                cursor: pointer;
                font-size: 28px;
                transition: color 0.1s ease-in-out;
            }

            .add-user {
                &:hover {
                    color: lighten($green, 3%);
                    transition: color 0.1s ease-in-out;
                }
            }

            .remove-user {
                &:hover {
                    color: $red;
                    transition: color 0.1s ease-in-out;
                }
            }
        }

        &.review {
            display: flex;
            flex-direction: column;

            .review-item {
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                .review-item-title {
                    background-color: $grey-dark;
                    cursor: pointer;
                    display: flex;
                    transition: transform 0.3s ease-in-out;

                    .item-title {
                        color: $white;
                        flex-grow: 1;
                        font-weight: bold;
                    }

                    i.material-icons {
                        &.chevron {
                            transition: transform 0.2s ease-in-out;
                        }
                        &.builds,
                        &.details,
                        &.devices,
                        &.members,
                        &.racks {
                            margin-right: 8px;
                        }
                    }

                    &.is-expanded {
                        i.material-icons.chevron {
                            transform: rotate(90deg);
                            transition: transform 0.2s ease-in-out;
                        }
                    }
                }

                .review-item-title,
                .item-content-row {
                    padding: 15px;

                    &.empty {
                        text-align: center;
                    }
                }

                .review-item-content {
                    background-color: $grey-darker;

                    .row {
                        &:hover {
                            background-color: darken($grey-darker, 2%);
                        }
                    }
                }
            }
        }
    }

    .item-table {
        table {
            background-color: $grey-darker;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .search {
            td {
                padding: 0;
            }

            input {
                background-color: darken($grey-darker, 1%);
                border: none;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                box-shadow: none;
                color: #bdcbdb;
                height: 48px;
                font-size: 1rem;

                &::placeholder {
                    color: $grey-light;
                }

                &:active,
                &:focus {
                    box-shadow: none;
                    background-color: darken($grey-darker, 3%);
                }
            }

            span.icon {
                top: 6px;

                i.material-icons {
                    font-size: 24px;
                }
            }
        }

        .row {
            &.item {
                align-items: stretch;
                display: flex;
                max-width: 494px;

                td {
                    background-color: $grey-darker;
                    border: none;
                    display: flex;
                    min-height: 66px;
                    align-items: center;

                    select {
                        background-color: $grey-darker;
                        border-color: $grey;
                        border-radius: 4px;
                        color: #bdcbdb;
                    }

                    &.item-name {
                        flex-grow: 1;
                        overflow: hidden;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    &.action {
                        justify-content: center;
                        width: 52px;

                        i.material-icons {
                            cursor: pointer;
                        }
                    }

                    &.no-results {
                        background-color: darken($grey-darker, 3%);
                        justify-content: center;
                        width: 100%;
                    }
                }

                &.is-selected {
                    border-width: 0 0 0 6px;
                    border-color: $green;
                    border-style: solid;

                    td {
                        background-color: darken($grey-darker, 1%);
                    }
                }

                &:hover {
                    td {
                        background-color: darken($grey-darker, 3%);
                    }
                }
            }
        }

        &.racks {
            .item-name {
                min-width: 200px;
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .datacenter-room {
                flex-grow: 1;
            }
        }
    }
}
