.dashboard {
	.empty-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			margin: 30px auto;
		}

		.empty-state-heading {
			color: $white;
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
}
