.device-browser {
  .device-search {
    flex-grow: 1;

    input.search {
      background-color: $dark;
      border-color: $grey;
      border-radius: 4px;
      color: #bdcbdb;
      margin-bottom: 20px;
      min-width: 350px;

      &::placeholder {
        color: #bdcbdb;
      }

      &:focus {
        border: 1px solid $blue;
        box-shadow: none;
      }
    }
  }

  .button.search {
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
  }

  .device-details {
    position: sticky;
    top: 0;

    .box.serial-number {
      background-color: $dark;
    }
  }

  .card {
    cursor: pointer;

    &.is-parent {
      background-color: #1a2531;
      transition: all 0.1s ease;

      &:hover {
        background-color: #1f2a36;
        border: 1px solid #5a6977;
        // transform: scale(1.02);
        transition: all 0.1s ease;
      }
    }

    .card-content {
      padding: 20px;

      .content {
        .card {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 10px;

          &:not(:last-of-type) {
            margin-bottom: 12px;
          }

          p.is-title {
            font-weight: bold;
            margin-bottom: 0.2em;
          }
        }
      }
    }
  }
}
