.device-modal {
	.modal-card {
		max-height: 700px;
		min-height: 700px;
		min-width: 700px;

		.tile.is-child {
			padding: 14px 20px;
		}
	}
}

.empty-slot {
		.modal-card {
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			width: 500px;
		}

		.modal-card-head {
			align-items: center;
			background-color: $blue;
			border-bottom: none;
			display: flex;
			padding: 12px;

			.modal-card-title {
				color: white;
				font-weight: bold;
				flex-grow: 1;
				text-align: left;
			}
		}

		.modal-card-body {
			text-align: center;

			.notification {
				align-items: center;
				border-radius: 4px;
				display: flex;
				justify-content: center;
				margin-bottom: 0;
				padding: 12px;
				opacity: 0.5;
				background-color: darken($dark, 5%);

				i {
					flex-shrink: 1;
				}

				p {
					flex-grow: 1;
				}
			}
		}

		i.material-icons {
			&.close {
				cursor: pointer;
				color: $white;
				font-size: 24px;
			}
		}

		a.button {
			font-weight: bold;
			height: 42px;
			width: 125px;
			padding-right: 24px;
			padding-left: 24px;
			margin-top: 20px;
		}
}
