.device-links-tab {
    .control {
        input {
            background-color: $grey-dark;
            border: 1px solid $grey;
            box-shadow: none;
            color: $grey-lighter;
            height: 46px;
            margin-bottom: 0;
            padding-left: 10px;

            &::placeholder {
                color: $grey-light;
            }

            &:focus {
                border-color: #209cee;
                box-shadow: none;
            }
        }

        span.icon {
            left: 0px;
            margin: 5px 10px 5px 2px;
            top: 0px;
        }
    }

    .modal {
        &.confirm-action {
            .buttons-group {
                display: flex;
                justify-content: center;
                margin-top: 0;
                justify-content: space-between;

                &.action-button {
                    justify-content: flex-end;
                }

                .button {
                    width: 124px;
                }
            }
        }

        .modal-card {
            height: 190px;
            width: 400px;

            .modal-card-head {
                padding: 14px;

                .modal-card-title {
                    font-size: 1.25rem;
                }
            }

            .modal-card-body {
                display: flex;
                flex-direction: column;
            }

            i.material-icons {
                &.close {
                    cursor: pointer;
                    color: $white;
                    font-size: 24px;
                }
            }
        }
    }
}
