.links-tab {
  input {
    background-color: $grey-darker;
    border-color: $grey;
    border-radius: 4px;
    color: $grey-lighter;

    &::placeholder {
      color: $grey-light;
    }
  }

  select {
    background-color: $grey-darker;
    border-color: $grey;
    color: $grey-lighter;
  }

  td,
  th {
    padding: 15px 20px;
  }

  .datatable-header {
    align-items: center;
    background-color: $grey-dark;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    font-weight: bold;
    padding: 20px;

    .control {
      flex-grow: 1;
      margin-left: 20px;

      input {
        margin-bottom: 0;
      }
    }

    i.material-icons {
      cursor: pointer;
      font-size: 36px;
      margin-left: 20px;

      &.search {
        font-size: 22px;
        margin-left: 5px;
      }
    }
  }

  .no-results {
    margin: 40px auto;
  }

  .no-items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a.button {
      font-weight: bold;
      height: 42px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      max-width: 200px;
      min-width: 150px;
    }
  }

  .card {
    &:hover {
      border-color: $grey-light;
    }
  }
}
