.organization {
	.stats {
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: lighten($grey-dark, 2%);
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.2s ease-in-out;
		}
	}

	.tag {
		border-radius: 4px;
	}

	.table-header {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.datatable-simple {
		transition: all 0.2s ease-in-out;

		th {
			border: none;
		}

		table.table {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.datatable-header,
		.row-simple {
			display: flex;
			align-items: stretch;
		}

		.row,
		.row-simple {
			background-color: darken($grey-darker, 4%);

			td {
				border: none;
			}
		}

		.datatable-header {
			display: flex;
			background-color: #4A5DBD;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.datatable-header-title,
		.table-data {
			align-items: center;
			color: #bdcbdb;
			display: flex;
			flex-grow: 1;
			font-weight: 700;
			padding: 0.75rem;
		}

		.datatable-header-icon {
			color: $white;
			padding: 15px 12px;

			&:hover {
				color: $grey-lighter;
			}
		}

		.datatable-header-icon,
		.row-action-button {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
		}

		.row-action-button a i &:hover {
			color: $red;
		}

		.row-action-button,
		.table-data {
			border: none;
		}

		.row-action-button {
			justify-content: flex-end;
		}

		select {
			background-color: $grey-darker;
			border-radius: 4px;
			border-color: $grey;
			color: #bdcbdb;
		}

		.datatable-footer {
			background-color: $grey;
			border-top: 1px solid #4E5D6C;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			align-items: stretch;
			display: flex;
			font-weight: bold;
			transition: background-color 0.2s ease-in-out;

			a {
				color: $white;
			}

			.datatable-footer-item {
				align-items: center;
				display: flex;
				flex-basis: 0;
				flex-grow: 1;
				flex-shrink: 0;
				justify-content: center;
				padding: 0.75rem;

				i {
					margin: 0 5px;
				}
			}

			&.add {
				&:hover {
					background-color: $green;
					transition: background-color 0.2s ease-in-out;
				}
			}
		}

		&:hover {
			border: none;
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.2s ease-in-out;
		}
	}

	.button-delete,
	.fa-trash-alt {
		&:hover {
			color: $red;
		}
	}

	.dropdown-menu {
		padding-top: 0;
	}

	.dropdown-item {
		display: flex;
		align-items: center;

		i {
			margin-right: 10px;
			min-width: 24px;

			&.fa-trash-alt {
				text-align: center;
			}
		}

		&.add {
			&:hover {
				color: $green;
			}
		}

		&.remove {
			&:hover {
				color: $red;
			}
		}
	}
}

.organizations {
	.page-heading {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		h1 {
			margin: 0;
			word-break: normal;
		}

		.control {
			margin: 0 20px;
		}

		input {
			background-color: $dark;
			border-color: $grey;
			border-radius: 4px;
			color: #bdcbdb;
			min-width: 350px;

			&::placeholder {
				color: #bdcbdb;
			}
		}

		.views {
			display: flex;
			align-items: center;
			flex-grow: 1;

			i {
				cursor: pointer;
				font-size: 36px;

				&:not(:last-of-type) {
					margin-right: 10px;
				}
			}
		}

		.add-organization {
			color: $green;
			cursor: pointer;
			font-size: 42px;

			&:hover {
				color: darken($green, 8%);
			}
		}
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;

		@media (min-width: 1500px) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}

		.card {
			background-color: $grey-dark;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
			transition: all 0.1s ease-in-out;

			.card-content {
				display: flex;
				flex-direction: column;
				padding: 20px;

				.more {
					cursor: pointer;
					text-align: right;
				}

				figure {
					margin: 0 auto 15px;
				}

				.organization-title {
					text-align: center;
					font-weight: bold;
					color: $white;
					font-size: 20px;
					margin-bottom: 10px;
				}

				.organization-desc {
					text-align: center;
					flex-grow: 1;
				}
			}

			.button {
				margin-top: 15px;
				border: none;
			}

			&:hover {
				transform: scale(1.04);
				transition: all 0.1s ease-in-out;

				.button {
					background-color: #4A5DBD;
				}
			}
		}
	}

	.organizations-table {
		thead th {
			border-width: 0 0 1px 0;
		}

		table {
			border-radius: 4px;
			box-shadow: 0px 9px 45px -19px rgba(0,0,0,1);
		}

		tr {
			&:hover {
				.button {
					background-color: #4A5DBD;
				}
			}
		}

		.button {
			border: none;
		}
	}
}
