.page-not-found {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	hr {
		margin-top: 30px;
		max-width: 500px;
	}

	.title {
		font-size: 6rem;
	}

	.buttons {
		margin-top: 30px;

		a.button {
			transition: all 0.1s ease-in-out;
			border-radius: 4px;
			height: 42px;
			width: 200px;
		}
	}
}
