.password-reset-page {
    .password-message {
        padding: 0.75rem 0;

        .message-header {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .message-body {
            padding: 0.95em 1.5em;
        }
    }

    .message-header {
        justify-content: flex-start;

        i.material-icons {
            margin-right: 10px;
        }
    }

    .box {
        padding: 20px;
    }

    .message {
        border-radius: 4px;
    }

    .button {
        font-weight: bold;
        height: 42px;
        margin-top: 20px;
    }

    .button.save,
    input {
        border-radius: 4px;
    }
}
