.sign-in {
	.sign-in-card {
		background-color: $grey-dark;
		border: none;
		border-radius: 2px;
		box-shadow: 0px 9px 45px -19px rgba(0, 0, 0, 1);
	}

	.sign-in-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.5rem;
	}

	.sign-in-heading {
		margin-bottom: 40px;

		.title {
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}

	.sign-in-input {
		.button {
			border-radius: 2px;
			font-weight: bold;
			height: 44px;
			margin-top: 36px;
			text-transform: uppercase;
		}
	}

	input {
		background-color: #D6EAF8;
		border: none;
		border-radius: 2px;

		&:active,
		&:focus {
			background-color: lighten(#D6EAF8, 4px);
		}

		&::placeholder {
			color: $grey;
		}
	}

	.session-notification {
		.message-header {
			padding: 0.6em 0.5em 0.6em 1.5em;
		}

		.message-body {
			padding: 0.5em 1.5em;
		}
	}

	.api-version-notification {
		.notification {
			border-radius: 4px;
			padding: 1.25em;

			.help-link {
				margin-top: 10px;
				transition: color 0.1s ease-in-out;

				&:hover {
					color: $grey-darker;
					transition: color 0.1s ease-in-out;
				}
			}

			.api-version-help,
			.button.conch-releases {
				margin-top: 20px;
			}
		}
	}
}
