.user-authentication-tokens {
	.header {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.button {
			border-radius: 4px;
		}

		.control {
			margin-right:20px;
		}

		input {
			background-color: $dark;
			border-color: $grey;
			border-radius: 4px;
			color: #bdcbdb;
			margin-right: 15px;
			min-width: 350px;

			&::placeholder {
				color: #bdcbdb;
			}
		}
	}

	.table thead {
		th {
			border-width: 0 0 1px 0;

			&:first-of-type {
				border-top-left-radius: 5px;
			}

			&:last-of-type {
				border-top-right-radius: 5px;
			}
		}
	}

	tfoot {
		th {
			border-top-width: 1px;

			&:first-of-type {
				border-bottom-left-radius: 5px;
			}

			&:last-of-type {
				border-bottom-right-radius: 5px;
			}
		}
	}

	.delete-token {
		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	td {
		padding: 14px;
		white-space: nowrap;

		&:last-of-type {
			text-align: right;
		}

		&:first-of-type {
			width: 22px;
		}
	}

	.empty-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 80px;

		.empty-state-heading {
			color: $white;
			font-size: 24px;
			font-weight: bold;
		}

		.button {
			font-weight: bold;
			font-size: 17px;
			margin: 20px 0 40px;
			height: 44px;
			min-width: 180px;
		}
	}

	.no-search-results {
		margin-top: 100px;
	}
}
