.divider {
	margin: 1rem 0;
	line-height: 1;
	height: 0;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: rgba(0,0,0,.85);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	i {
		position: absolute;
		left: -5px;
		top: -7px;
	}

	&.is-vertical {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		margin: 0;
		padding: 0;
		width: auto;
		height: 50%;
		line-height: 0;
		text-align: center;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);

		&::after {
			top: auto;
			bottom: 0;
		}

		&::before {
			top: -100%;
		}

		&::before,
		&::after {
			position: absolute;
			left: 50%;
			content: '';
			z-index: 3;
			border-left: 1px solid rgba(34,36,38,.15);
			border-right: 1px solid rgba(255,255,255,.1);
			width: 0%;
			height: calc(100% - 1rem);
		}
	}
}
