.select-with-label {
	display: flex;
	flex-direction: row;
	align-items: center;

	&:hover {
		.select-label,
		.select select {
			border-color: $grey-light;
		}

	}

	.select-label {
		background-color: $grey-darker;
		border-width: 1px 0.5px 1px 1px;
		border-color: $grey;
		border-style: solid;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-right-color: $grey;
		color: #bdcbdb;
		padding: 5px 8px;
		white-space: nowrap;
	}

	.select {
		select {
			border-width: 1px 1px 1px 0;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}
}
