@import "./d3.relationshipgraph.min.css";

@import "bulmaswatch/superhero/bulmaswatch.scss";

// Extend Bulma's panel-tabs class to wrap items
.panel-tabs {
	flex-wrap: wrap;
}

progress::-webkit-progress-value {
	-webkit-transition: width 1.5s ease;
	-moz-transition: width 1.5s ease;
	-o-transition: width 1.5s ease;
	transition: width 1s ease;
}

.spinner {
	min-height: 60px;
	text-align: center;
}

// A simple animated spinner for loading indicators. Change
.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	//top: 50%;
	//left: 50%;
	width: 30px;
	height: 30px;
	margin-top: 15px;
	margin-left: -15px;
	border-radius: 50%;
	border: 3px rgba(#07d, 0.25) solid;
	border-top: 3px rgba(#07d, 1) solid;
	border-left: 3px rgba(#07d, 0.8) dotted;
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

// overrides for d3.relationshipgraph.min.css
.relationshipGraph-block {
	stroke: none;
}

.panel-block.is-active {
	border-left-width: 4px;
	border-left-color: $primary;
}

.has-stroke-info {
	stroke: $info;
}

.has-stroke-success {
	stroke: $success;
}

.navbar-dropdown ul > li {
	margin-left: 1em;
}

// move the first ul list back over
.navbar-dropdown ul:first-child {
	margin-left: -1em;
}
