<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="expires" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
        <title>Conch | Server Maintenance</title>
        <style>
            html, body {
                background-color: #dee5ed;
            }

            body {
                padding: 60px;
            }

            .server-maintenance {
                text-align: center;
            }

            .details {
                padding: 60px;
            }
        </style>
	</head>
	<body>
        <div class="server-maintenance container">
            <img src="../../assets/server-maintenance.svg" width="600px">
            <div class="details">
                <h1 class="title is-2 has-text-dark">Server Maintenance</h1>
                <p class="is-size-5 has-text-grey">
                    Conch is undergoing maintenance and will be back soon. Hang in there!
                </p>
            </div>
        </div>
	</body>
</html>
